<inkar>
    <indicator>
        <mappings>
            <mapping>
                <csv>Bereich</csv>
                <sql>
                    <name>bereich</name>
                    <type>VARCHAR(200)</type>
                </sql>
            </mapping>
            <mapping>
                <csv>ID</csv>
                <sql>
                    <name>id</name>
                    <type>VARCHAR(30)</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Indikator</csv>
                <sql>
                    <name>indikator</name>
                    <type>VARCHAR(200)</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Raumbezug</csv>
                <sql>
                    <name>raumbezug</name>
                    <type>VARCHAR(200)</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Kennziffer</csv>
                <sql>
                    <name>kennziffer</name>
                    <type>VARCHAR(20)</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Name</csv>
                <sql>
                    <name>name</name>
                    <type>VARCHAR(200)</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Zeitbezug</csv>
                <sql>
                    <name>zeitbezug</name>
                    <type>int</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Wert</csv>
                <sql>
                    <name>wert</name>
                    <type>VARCHAR</type>
                </sql>
            </mapping>
        </mappings>
    </indicator>
    <metadata>
        <mappings>
            <mapping>
                <csv>MERK_ID</csv>
                <sql>
                    <name>id</name>
                    <type>int</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Kurzname</csv>
                <sql>
                    <name>kurzname</name>
                    <type>text</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Name</csv>
                <sql>
                    <name>name</name>
                    <type>text</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Algorithmus</csv>
                <sql>
                    <name>algorithmus</name>
                    <type>text</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Anmerkungen</csv>
                <sql>
                    <name>anmerkungen</name>
                    <type>text</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Statistische Grundlagen</csv>
                <sql>
                    <name>statistische_grundlagen</name>
                    <type>text</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Gemeinden</csv>
                <sql>
                    <name>gemeinde</name>
                    <type>text</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Zeitreihe / Jahr / Entwicklung</csv>
                <sql>
                    <name>zeitreihe_jahr_entwicklung</name>
                    <type>text</type>
                </sql>
            </mapping>
            <mapping>
                <csv>Kartierbar</csv>
                <sql>
                    <name>kartierbar</name>
                    <type>text</type>
                </sql>
            </mapping>
        </mappings>
    </metadata>
</inkar>